* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: bisque;
}

header ul {
    list-style: none;
}

header ul li a {
    margin: 0px 25px;
    text-decoration: none;
    font-size: 23px;
}

header ul li a span {
    background-color: white;
   padding: 10px 25px;
   border-radius: 50%;
   margin-left: 10px;
}